@import '../../stylus/mixins.styl'

div
  flex()
  flex-flow column wrap
  min-height 100%

@keyframes zen-monkey
  from
    transform: translateY(20px)
  to
    transform: translateY(0)

.zen-monkey
  animation: zen-monkey 500ms alternate infinite
  height 200px