@import '../../stylus/variables.styl'
@import '../../stylus/mixins.styl'

div
  flex()
  flex-flow column

.non-winners
  font-size 1.2em
  color main_color
  text-shadow 12px 6px darken(rgba(main_color, 10%), 10%)
  height 100px