main_color = blue//#eb007d
text_color = #273c75
winners_bronze = #ad703a
winners_silver = #9caabd
winners_gold = #dbb000

border_radius_size = 6px

avatar_size_pull_request = 100px
avatar_size_reaction = 40px
avatar_border_size = 2px

badge_padding = 6px 18px

challenge_header_title_font_size = 2.6em